<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sponsors</ion-title>
  </ion-navbar>
</ion-header>
   
<ion-content>
      <ion-list *ngFor="let sponsor of sponsors">
       <ion-item-divider sticky>
          <ion-label>
           <b>{{sponsor.type}} :</b> 
          </ion-label>
      </ion-item-divider>
        <ion-grid fixed>
          <ion-row align-items-stretch>
            <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let spon of sponsor.sponsor">
             
             <ion-card class="speaker-card">
                <ion-card-header align-center>
                  <ion-avatar item-left>
                    <img [src]="spon.image" alt="Sponsor image">
                  </ion-avatar>
                </ion-card-header>
                <br/>
                <ion-row padding>
                  <ion-col col-12 col-lg-auto item-left>
                      <ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>
                       <a [href]="spon.url">Site Web</a>                    
                  </ion-col>
                </ion-row>
    
              </ion-card>
    
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>                                                             
</ion-content>