<ion-header>
  <ion-navbar no-border-bottom >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        Tous
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoris
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
			<button ion-button (click) = "scanBarcode()">
				<ion-icon name="camera"></ion-icon>
			</button>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Rechercher ...">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar no-border-top>
		<ion-segment>
		  <ion-segment-button value="j1" ngSelected="selected" (click)="changeDayIndex(0)">
			11 Juillet
		  </ion-segment-button>
		  <ion-segment-button value="j2" (click)="changeDayIndex(1)">
			12 Juillet
		  </ion-segment-button>
		   <ion-segment-button value="j3" (click)="changeDayIndex(2)">
			13 Juillet
		  </ion-segment-button>
		</ion-segment>
    </ion-toolbar>
<div *ngIf="segment === 'all'">
    <button ion-button icon value="s1" (click)="changeRoomIndex(0); buttonclass = 's1'" [ngClass]="buttonclass === 's1' ? 'selected' : 'salle'">
      Salle 1
    </button>    
    <button ion-button icon value="s2" (click)="changeRoomIndex(1); buttonclass = 's2'" [ngClass]="buttonclass === 's2' ? 'selected' : 'salle'">
      Salle 2
    </button>
    <button ion-button icon value="s3" (click)="changeRoomIndex(2); buttonclass = 's3'" [ngClass]="buttonclass === 's3' ? 'selected' : 'salle'">
      Salle 3
    </button>    
    <button ion-button icon value="s4" (click)="changeRoomIndex(3); buttonclass = 's4'" [ngClass]="buttonclass === 's4' ? 'selected' : 'salle'">
      Salle 4
    </button>
    <button ion-button icon value="s5" (click)="changeRoomIndex(4); buttonclass = 's5'" [ngClass]="buttonclass === 's5' ? 'selected' : 'salle'">
      Salle 5
    </button>    
    <button ion-button icon value="s6" (click)="changeRoomIndex(5); buttonclass = 's6'" [ngClass]="buttonclass === 's6' ? 'selected' : 'salle'">
      Salle 6
    </button>
    <button ion-button icon value="s7" (click)="changeRoomIndex(6); buttonclass = 's7'" [ngClass]="buttonclass === 's7' ? 'selected' : 'salle'">
      Salle 7
    </button>    
    <button ion-button icon value="s8" (click)="changeRoomIndex(7); buttonclass = 's8'" [ngClass]="buttonclass === 's8' ? 'selected' : 'salle'">
      Salle 8
    </button>
</div>
  <ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups; let i = index" [hidden]="group.hide">
				<div *ngIf="i===roomIndex && segment ==='all'">					
				<ion-item-sliding *ngFor="let session of group.sessions"  #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">
					
					<button ion-item text-wrap (click)="goToSessionDetail(session)">
						<h3>{{session.name}}</h3>
						<p>
							{{session.timeStart}} &mdash;
							{{session.timeEnd}}:
							{{session.speakerNames}}
						</p>
					</button>				
					<ion-item-options>
						<button ion-button color="favorite" (click)="addFavorite(slidingItem, session)">
							Favoris
						</button>
					</ion-item-options>
	
				</ion-item-sliding>
				</div>
				<div *ngIf="segment ==='favorites'">					
				<ion-item-sliding *ngFor="let session of group.sessions"  #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">
					
					<button ion-item text-wrap (click)="goToSessionDetail(session)">
						<h3>{{session.name}}</h3>
						<p>
							{{session.timeStart}} &mdash;
							{{session.timeEnd}}:
							{{session.speakerNames}} - 
							{{session.location}}
						</p>
					</button>
	      
				
					<ion-item-options>
						<button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')">
							Retirer
						</button>
					</ion-item-options>
	
				</ion-item-sliding>
				</div>
			
    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      Aucune session trouvée
  </ion-list-header>
</ion-content>
