$categories: (
 energie: #652e60,
 produits-matériaux: #ab9ceb,
 environnement: #b76abb,
 bio-procédés: #ffd3be,
 focus: #ffae82,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
  
  .salle{
    opacity: 0.5;
  }
}
