page-poster {
   
    ion-card-content{
      color:#666;
    }
   poster{
     border-left: 2px solid #811553;
     padding-left: 10px;
   }
   
   .buttonpanel{
    text-align:center;
   }
   
  .salle{
    opacity: 0.5;
  }
}
